<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2.5, minimum-scale=0.1, user-scalable=yes">
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Dashboard.css")" rel="stylesheet" type="text/css" />

      <link href="@Url.Content("~/Content/ig/themes/metro/infragistics.theme.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/ig/structure/infragistics.css")" rel="stylesheet" type="text/css" />
    
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.5.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.blockUI.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ig/modules/i18n/regional/infragistics.ui.regional-i18n.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ig/infragistics.core.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ig/infragistics.dv.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ig/infragistics.lob.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/fastclick.js")" type="text/javascript"></script>

 @*       <link type="text/css" href="http://localhost/ig_ui13.2/css/themes/metro/infragistics.theme.css" rel="stylesheet" />
	<link type="text/css" href="http://localhost/ig_ui13.2/css/structure/modules/infragistics.ui.shared.css" rel="stylesheet" /> 
	<link type="text/css" href="http://localhost/ig_ui13.2/css/structure/modules/infragistics.ui.combo.css" rel="stylesheet" />
    <link type="text/css" href="http://localhost/ig_ui13.2/css/structure/modules/infragistics.ui.grid.css" rel="stylesheet" /> 
    <link type="text/css" href="http://localhost/ig_ui13.2/css/structure/modules/infragistics.ui.editors.css" rel="stylesheet" />
	<link type="text/css" href="http://localhost/ig_ui13.2/css/structure/modules/infragistics.ui.validator.css" rel="stylesheet" />
    <link type="text/css" href="http://localhost/ig_ui13.2/css/structure/modules/infragistics.ui.chart.css" rel="stylesheet" />
    <link type="text/css" href="http://localhost/ig_ui13.2/css/structure/modules/infragistics.ui.tilemanager.css" rel="stylesheet" />
    <link type="text/css" href="http://localhost/ig_ui13.2/css/structure/modules/infragistics.ui.dialog.css" rel="stylesheet" />
    <link type="text/css" href="http://localhost/ig_ui13.2/css/structure/modules/infragistics.ui.layout.css" rel="stylesheet" />
    <link type="text/css" href="http://localhost/ig_ui13.2/css/structure/jquery.ui.datepicker.css" rel="stylesheet" />
    
 	
	<!--EN Localization-->

	<script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/i18n/infragistics.dataSource-en.js"></script>
	<script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/i18n/infragistics.ui.grid-en.js"></script>
	<script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/i18n/infragistics.ui.editors-en.js"></script>
	<script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/i18n/infragistics.ui.validator-en.js"></script>
	<script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/i18n/infragistics.ui.combo-en.js"></script>
    <script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/i18n/infragistics.ui.tilemanager-en.js"></script>
    <script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/i18n/infragistics.ui.tilemanager-en.js"></script>

	<!--/EN Localization
	
	<!--JS Debug-->
    <script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.util.js"></script>
    <script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.dataSource.js"></script>
    <script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.ui.shared.js"></script>
    <script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.ui.combo.js"></script>
    <script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.ui.popover.js"></script>
    <script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.ui.grid.framework.js"></script>
    <script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.ui.editors.js"></script>
	<script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.ui.validator.js"></script>
	<script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.ui.grid.updating.js"></script>
	<script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.ui.grid.tooltips.js"></script>
	<script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.ui.grid.summaries.js"></script>
    <script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.ui.grid.sorting.js"></script>
    <script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.ui.grid.selection.js"></script>
	<script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.ui.grid.rowselectors.js"></script>
	<script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.ui.grid.resizing.js"></script>
    <script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.ui.grid.paging.js"></script>
    <script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.ui.grid.hiding.js"></script>
	<script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.ui.grid.featurechooser.js"></script>
    <script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.ui.grid.filtering.js"></script>
	<script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.ui.grid.groupby.js"></script>
	<script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.ui.grid.columnmoving.js"></script>
	<script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.ui.grid.columnfixing.js"></script>
	<script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.ui.grid.cellmerging.js"></script>
	<script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.ui.grid.multicolumnheaders.js"></script>
    <script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.ui.layoutmanager.js"></script>
    <script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.ui.tilemanager.js"></script>
	<script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.ui.dialog.js"></script>

	<script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.templating.js"></script>

    	<script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.dv.core.js"></script>
	<script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.chart_categorychart.js"></script>
	<script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.chart_financialchart.js"></script>
	<script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.chart_piechart.js"></script>
	<script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.chart_polarchart.js"></script>
	<script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.chart_radialchart.js"></script>
	<script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.chart_rangecategorychart.js"></script>
	<script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.chart_scatterchart.js"></script>
    <script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.ui.chartlegend.js"></script>
	
	
	<script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.dvcommonwidget.js"></script>
	<script type="text/javascript" src="http://localhost/ig_ui13.2/js/modules/infragistics.ui.chart.js"></script>*@



    @RenderSection("Head", false)

      <script type="text/javascript">
          window.addEventListener('load', function () {
              FastClick.attach(document.body);
          }, false);
    </script>
</head>

<body>
    @RenderSection("Body")
</body>
</html>
